# Αγνοήστε συγκεκριμένα αρχεία
#secrets.txt
#config.py
settings.py

# Αγνοήστε ολόκληρους φακέλους
__pycache__/
.venv/
.vs/
#.env

# Αγνοήστε αρχεία με συγκεκριμένη κατάληξη
#*.log
#*.db
#.DS_Store
.*
